{% extends "base.html" %}

{%block title%}
    ZX Tools
{%endblock%}

{%block myContent%}
{{block.super}}

<div class="templatemo-content-container">

    <div class="row">
                <div class="col-lg-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            QDR server发布
                        </div>
                        <div class="panel-body">
                            <p>
                                <a href="http://qdr.corp.qunar.com/view/m%E6%97%A0%E7%BA%BF/view/hotel_noprod/job/delivery_m_hotel_appbiz" target="_blank">无线酒店beta</a>&nbsp;
                                <a href="http://qdr.corp.qunar.com/job/unit_m_bizheatrel/" target="_blank">无线酒店热发</a>&nbsp;
                                <a href="http://qdr.corp.qunar.com/view/m%E6%97%A0%E7%BA%BF/view/hotel_noprod/job/delivery_m_hotel_msite" target="_blank">touch beta</a>&nbsp;
                                <a href="http://qdr.corp.qunar.com/job/room_m_hotel_suit_betah" target="_blank">无线酒店线上room</a>
                            <p>
                                <a href="http://qdr.corp.qunar.com/job/unit_m_commons_nexus/" target="_blank">commons jar</a>&nbsp;
                                <a href="http://qdr.corp.qunar.com/job/unit_m_helper_nexus/" target="_blank">helper jar</a>&nbsp;
                                <a href="http://qdr.corp.qunar.com/job/unit_m_kylin_nexus/" target="_blank">kylin jar</a>&nbsp;
                                <a href="http://qdr.corp.qunar.com/job/unit_m_web_kylin/" target="_blank">web_kylin</a>&nbsp;
                                <a href="http://qdr.corp.qunar.com/job/unit_m_web_hotdog/" target="_blank">web_hotdog</a>&nbsp;
                            </p>
                            <p>
                                <a href="http://qdr.corp.qunar.com/job/unit_m_catalysis/" target="_blank">qmdc</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <a href="http://qdr.corp.qunar.com/job/unit_m_hotel_tts/" target="_blank">hotel_tts</a>&nbsp;
                                <a href="http://qdr.corp.qunar.com/job/unit_m_phoebus/" target="_blank">phoebus</a>&nbsp;
                                <a href="http://qdr.corp.qunar.com/job/delivery_m_touch" target="_blank">老touch</a>
                            </p>
                        </div>
                        <div class="panel-footer">

                        </div>
                    </div>
                </div>
                <!-- /.col-lg-4 -->
                <div class="col-lg-4">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            QDR client 发布
                        </div>
                        <div class="panel-body">
                            <p>
                                <a href="http://qdr.corp.qunar.com/view/android/view/android_spider/view/platform_atom/job/m_adr_spider_atom_hotel/" target="_blank">android </a>&nbsp;
                                <a href="http://qdr.corp.qunar.com/view/IOS/view/ReactNative%E5%89%8D%E7%AB%AF/job/m_rn_hotel/" target="_blank">ios RN</a>&nbsp;
                                <a href="http://qdr.corp.qunar.com/view/m%E6%97%A0%E7%BA%BF/view/mobile/job/m_ios_hotel_lib/" target="_blank">ios lib</a>&nbsp;
                                <a href="http://qdr.corp.qunar.com/view/m%E6%97%A0%E7%BA%BF/view/mobile/job/m_qunar_iphone_5.0/" target="_blank">ios client</a>&nbsp;
                                <br/>
                                <br/>
                                <br/>
                                <br/>
                            </p>
                        </div>
                        <div class="panel-footer">

                        </div>
                    </div>
                </div>
                <!-- /.col-lg-4 -->
                <div class="col-lg-4">
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            常用wiki
                        </div>
                        <div class="panel-body">
                            <p>
                                <a href="http://wiki.corp.qunar.com/pages/viewpage.action?pageId=58036343" target="_blank">环境支持wiki</a>
                            </p>
                        </div>
                        <div class="panel-footer">

                        </div>
                    </div>
                </div>
                <!-- /.col-lg-4 -->
            </div>
    <div class="row">
                <div class="col-lg-4">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            Info Panel
                        </div>
                        <div class="panel-body">
                            <p>N/A</p>
                        </div>
                        <div class="panel-footer">

                        </div>
                    </div>
                </div>
                <!-- /.col-lg-4 -->
                <div class="col-lg-4">
                    <div class="panel panel-warning">
                        <div class="panel-heading">
                            Warning Panel
                        </div>
                        <div class="panel-body">
                            <p>N/A</p>
                        </div>
                        <div class="panel-footer">

                        </div>
                    </div>
                </div>
                <!-- /.col-lg-4 -->
                <div class="col-lg-4">
                    <div class="panel panel-danger">
                        <div class="panel-heading">
                            Danger Panel
                        </div>
                        <div class="panel-body">
                            <p>N/A</p>
                        </div>
                        <div class="panel-footer">

                        </div>
                    </div>
                </div>
                <!-- /.col-lg-4 -->
            </div>
    <div class="row">
                <div class="col-lg-4">
                    <div class="panel panel-green">
                        <div class="panel-heading">
                            Green Panel
                        </div>
                        <div class="panel-body">
                            <p>N/A</p>
                        </div>
                        <div class="panel-footer">

                        </div>
                    </div>
                    <!-- /.col-lg-4 -->
                </div>
                <div class="col-lg-4">
                    <div class="panel panel-yellow">
                        <div class="panel-heading">
                            Yellow Panel
                        </div>
                        <div class="panel-body">
                            <p>N/A</p>
                        </div>
                        <div class="panel-footer">

                        </div>
                    </div>
                    <!-- /.col-lg-4 -->
                </div>
                <div class="col-lg-4">
                    <div class="panel panel-red">
                        <div class="panel-heading">
                            Red Panel
                        </div>
                        <div class="panel-body">
                            <p>N/A</p>
                        </div>
                        <div class="panel-footer">

                        </div>
                    </div>
                    <!-- /.col-lg-4 -->
                </div>
            </div>
    <div class="templatemo-flex-row flex-content-row">

        <!-- /#page-wrapper -->
            <div class="templatemo-content-widget white-bg col-2">
              <i class="fa fa-times"></i>
              <div class="square"></div>
              <h2 class="templatemo-inline-block">常用便签</h2><hr>
              <p>{{note_read}}</p>
                <br/><br/><br/>

                <form action="/tools/note/" class="templatemo-login-form" method="get" role="form">
                <div class="col-lg-16 form-group">
                    <label class="control-label">便签提交</label>
                    <textarea class="form-control" id="note_w" name="note_w" rows="2" input type="text"></textarea>
                </div>
                <button type="submit" class="templatemo-blue-button">Update</button>
                </form>

            </div>
            <div class="templatemo-content-widget white-bg col-1 text-center">
              <i class="fa fa-times"></i>
              <h2 class="text-uppercase"></h2>
              <h3 class="text-uppercase margin-bottom-10">Design</h3>
              <img src="/static/images/123.gif" alt="Bicycle" class="img-thumbnail">
            </div>
    </div>

</div>
{%endblock%}